<x-main>
  <x-message>
    <x-heading>@{{ __('mail.email_verification.subject') }}</x-heading>

    <p class="leading-6 mt-0">
      @{{ __('mail.email_verification.greeting', ['name' => $user->name]) }}
    </p>

    <p class="leading-6">
      @{{ __('mail.email_verification.body') }}
    </p>

    <x-spacer height="24px" />

    <x-button href="@{{ $url }}">
      @{{ __('mail.email_verification.button') }}
    </x-button>

    <x-spacer height="24px" />

    <p class="leading-6">
      @{{ __('mail.email_verification.ignore') }}
    </p>
    <p class="leading-6 mb-0">
      @{{ __('mail.layout.signoff') }}
      <br />
      @{{ __('mail.layout.team') }}
    </p>
  </x-message>
</x-main>
