<x-main>
  <div class="bg-zinc-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <x-header />
          <table class="w-full">
            <tr>
              <td class="p-12 sm:px-6 text-base text-zinc-800 bg-white rounded shadow-sm">
                <p class="leading-6 mt-0">
                  @{{ __('mail.email_verification.greeting', ['name' => $user->name]) }}
                </p>

                <p class="leading-6">
                  @{{ __('mail.email_verification.body') }}
                </p>

                <x-spacer height="24px" />

                <div class="text-center">
                  <x-button href="@{{ $url }}">
                    @{{ __('mail.email_verification.button') }} &rarr;
                  </x-button>
                </div>

                <x-spacer height="24px" />

                <p class="leading-6">
                  @{{ __('mail.email_verification.ignore') }}
                </p>
                <p class="leading-6 mb-0">
                  @{{ __('mail.layout.signoff') }}
                  <br />
                  @{{ __('mail.layout.team') }}
                </p>
              </td>
            </tr>
          </table>
          <x-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>
