<x-main>
  <x-message authenticated="true">
    <x-heading>
      @{{ __('mail.post_approved.heading') }}
    </x-heading>

    <p class="m-0 leading-6">
      @{{ __('mail.post_approved.body', ['name' => $approverName, 'workspace' => $workspaceName]) }}
    </p>

    @if(count($goesOutPerChannel) > 0)
      <p class="m-0 mt-4 text-sm font-semibold text-foreground">
        @{{ __('mail.post_approved.goes_out') }}
      </p>
      @foreach($goesOutPerChannel as $goesOut)
        <x-channel-list channels="$goesOut['channels']" />
        <p class="m-0 mt-2 text-sm leading-6">
          @{{ $goesOut['at'] ?? __('mail.post_approved.publishing_now') }}
        </p>
      @endforeach
    @else
      <p class="m-0 mt-4 text-sm font-semibold text-foreground">
        @{{ __('mail.post_approved.channels') }}
      </p>
      <x-channel-list />
      <p class="m-0 mt-4 text-sm font-semibold text-foreground">
        @{{ __('mail.post_approved.goes_out') }}
      </p>
      <p class="m-0 mt-2 leading-6 text-sm">
        @{{ $goesOutAt ?? __('mail.post_approved.publishing_now') }}
      </p>
    @endif

    <x-spacer height="24px" />

    <x-button href="@{{ $url }}">
      @{{ __('mail.post_approved.button') }}
    </x-button>
  </x-message>
</x-main>
