<x-main>
  <x-message authenticated="true">
    <x-heading>
      @{{ __('mail.workspace_connections_disconnected.heading') }}
    </x-heading>

    <p class="m-0 leading-6">
      {!! __('mail.workspace_connections_disconnected.intro', ['workspace' => '<strong>'.e($workspaceName).'</strong>']) !!}
    </p>

    @foreach($disconnectedAccounts as $account)
      <table role="presentation" class="w-full mt-4">
        <tr>
          <td class="rounded-xl border border-solid border-border p-5 sm:p-4">
            <x-channel-identity platform="$account->platform" account-name="$account->accountDisplayName()" />
          </td>
        </tr>
      </table>
    @endforeach

    <p class="m-0 mt-6 leading-6">
      @{{ __('mail.workspace_connections_disconnected.reasons_title') }}
    </p>

    <x-list>
      <li>@{{ __('mail.workspace_connections_disconnected.reason_expired') }}</li>
      <li>@{{ __('mail.workspace_connections_disconnected.reason_revoked') }}</li>
      <li>@{{ __('mail.workspace_connections_disconnected.reason_changed') }}</li>
    </x-list>

    <p class="m-0 mt-4 leading-6">
      @{{ __('mail.workspace_connections_disconnected.reconnect_cta') }}
    </p>

    <x-spacer height="24px" />

    <x-button href="@{{ $url }}">
      @{{ __('mail.workspace_connections_disconnected.button') }}
    </x-button>
  </x-message>
</x-main>
